// ## Colors

// ### Primary

$blue: hsl(246, 80%, 60%);

$orange: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

// ### Neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$card-hover: #34397b;
$pale-blue: hsl(236, 100%, 87%);

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $very-dark-blue;
  padding: 3rem 2rem;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

header {
  border-radius: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 518px;
  width: 256px;
  background-color: $dark-blue;
  border-radius: 1rem;

  .user-background {
    position: relative;
    background-color: $dark-blue;
    width: 100%;
    height: 354px;
    padding: 32px 0 0 30px;
    border-radius: 1rem;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: -128px;
      left: -128px;

      background-color: $blue;
      border-radius: 50%;
      width: 256px;
      height: 256px;
      animation: expansion 0.5s ease-in-out 0.4s forwards;
      transform-origin: 50%;
      transform: scale(0);
    }

    .user {
      position: relative;
      height: 354px;
      width: 100%;
      z-index: 10;

      @keyframes expansion {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(4);
        }
      }

      .avatar {
        height: 86px;
        width: 86px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        img {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.2s ease-in-out 0.4s;

          &.visible {
            opacity: 1;
          }
        }
      }

      h1 {
        .report {
          display: block;
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          margin-bottom: 3px;
          color: $pale-blue;
          animation: text 0.5s ease-in-out forwards;
        }
        .name {
          font-size: 18px;
          color: #fff;
          font-weight: 300;
          font-size: 40px;
          opacity: 0;

          animation: text 0.5s ease-in-out forwards 0.5s;
        }
      }
    }
  }

  .tabs {
    padding: 18px;

    li {
      width: 100%;
      height: 38px;
      margin-bottom: 4px;
      opacity: 0;

      &:first-child {
        animation: text 0.2s ease-in-out forwards 1s;
      }
      &:nth-child(2) {
        animation: text 0.2s ease-in-out forwards 1.2s;
      }

      &:last-child {
        margin-bottom: 0;
        animation: text 0.2s ease-in-out forwards 1.4s;
      }

      button {
        width: 100%;
        height: 100%;
        padding: 0 14px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: $desaturated-blue;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: color 0.2s ease-in-out;

        &:hover {
          transition: none;
          color: #fff;
        }
        &:disabled {
          transition: none;
          color: $card-hover;
        }

        &.active {
          color: #fff;
        }
      }
    }
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  width: 256px;
  height: 198px;
  position: relative;
  margin-bottom: 46px;
  opacity: 0;
  animation: appear 0.4s ease-in-out forwards;

  &.loading .info {
    animation: reload 0.8s ease-in-out forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes reload {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 0;
      transform: translateY(-46px);
    }
    60% {
      opacity: 0;
      transform: translateY(-46px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .iconLayer {
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    overflow: hidden;

    svg {
      position: relative;
      right: 22px;
      top: -5px;
      animation-name: movement;
      animation-direction: alternate;
      animation-duration: 12s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      transform: translate(0, -5px);

      @keyframes movement {
        0% {
          transform: translate(0, -5px);
        }
        10% {
          transform: translate(5px, 0);
        }
        20% {
          transform: translate(0px, 5px);
        }
        30% {
          transform: translate(-5px, 3px);
        }
        40% {
          transform: translate(-10px, 3px);
        }
        50% {
          transform: translate(-15px, 5px);
        }
        60% {
          transform: translate(-20px, 0px);
        }
        70% {
          transform: translate(-15px, -5px);
        }
        80% {
          transform: translate(-10px, -7px);
        }
        90% {
          transform: translate(-5px, -7px);
        }
        100% {
          transform: translate(0, -5);
        }
      }
    }
  }

  .info {
    background-color: $dark-blue;
    width: 100%;
    height: 198px;

    position: absolute;
    left: 0;
    bottom: -46px;
    border-radius: 1rem;

    padding: 23px 30px;
    color: #fff;
    transition-property: background-color, opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: default;

    &:hover {
      transition: none;
      background-color: $card-hover;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
      }

      button {
        background: none;
        width: 32px;
        height: 32px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        cursor: pointer;

        span {
          display: none;
        }

        svg path {
          transition: fill 0.2s ease-in-out;
        }

        &:hover > svg path {
          transition: none;
          fill: #fff;
        }
      }
    }

    .time {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .hours {
        font-size: 54px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      .previous {
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        color: $pale-blue;
      }
    }
  }
}

.loader-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 2 / 5;
  grid-row: 1 / 3;

  h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
  }

  .loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid;
    border-color: transparent #fff transparent #fff;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.orange {
  background-color: $orange;

  svg {
    top: -11px !important;
  }
}
.blue {
  background-color: $soft-blue;

  svg {
    animation-delay: 1s;
  }
}
.red {
  background-color: $light-red;

  svg {
    top: -7px !important;
    animation-delay: 2s;
  }
}
.green {
  background-color: $lime-green;

  svg {
    top: -2px !important;
    animation-delay: 3s;
  }
}
.purple {
  background-color: $violet;

  svg {
    top: 0 !important;
    animation-delay: 4s;
  }
}
.yellow {
  background-color: $soft-orange;

  svg {
    top: -12px !important;
    animation-delay: 5s;
  }
}

@media screen and (max-width: 1279px) {
  body {
    align-items: flex-start;
  }

  .loader-container {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .app {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:nth-child(6) {
    grid-column: 2;
  }
}

@media screen and (max-width: 899px) {
  .loader-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .app {
    grid-template-columns: repeat(2, 1fr);
  }
  .card:nth-child(6) {
    grid-column: auto;
  }
}

@media screen and (max-width: 619px) {
  body {
    align-items: flex-start;
  }

  .loader-container {
    grid-column: auto;
    grid-row: auto;
    padding: 1rem 0;
    margin-top: 1rem;

    h2 {
      font-size: 18px;
    }
  }

  .app {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  header {
    width: 306px;
    max-width: 328px;
    height: 212px;

    .user-background {
      height: 142px;
      padding-top: 0;

      .user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        .avatar {
          width: 72px;
          height: 72px;
          margin: 0;

          img {
            width: 66px;
            height: 66px;
          }
        }

        h1 {
          padding: 0 16px 0;

          .report {
            // margin: 10px 0 6px;
            margin: 0px 0 6px;
            width: max-content;
          }
          .name {
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }

    .tabs {
      display: flex;
      padding: 15px;

      li {
        &:first-child {
          button {
            padding: 0 14px 0 24px;
          }
        }
        &:nth-child(2) {
          button {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &:last-child {
          button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 24px 0 14px;
          }
        }
      }
    }
  }

  .card {
    width: 100%;
    width: 306px;
    max-width: 328px;

    .info {
      .time {
        .hours {
          font-size: 42px;
        }
      }
    }
  }
}

@media screen and (max-width: 411px) {
  body {
    padding: 3rem 1rem;
  }

  header {
    height: 204px;
    width: 328px;

    .user-background {
      padding-left: 18px;
      height: 134px;
      .user {
        h1 {
          .name {
            font-size: 22px;
            width: max-content;
          }
        }
      }
    }
    .tabs {
      padding: 13px 22px;

      li {
        button {
          padding: 0 14px;
        }

        &:first-child {
          button {
            padding: 0 14px 0 6px;
          }
        }
        &:nth-child(2) {
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
          }
        }
        &:last-child {
          button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 6px 0 18px;
          }
        }
      }
    }
  }

  .card {
    height: 122px;
    width: 328px;

    .info {
      bottom: -38px;
      height: 122px;
      padding: 23px;

      .title {
        margin-bottom: 4px;
      }
      .time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .hours {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 0;
        }
        .previous {
          width: max-content;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  header {
    width: 316px;

    .tabs {
      padding: 13px 18px;
    }
  }

  .card {
    width: 316px;
  }
}
@media screen and (max-width: 359px) {
  header {
    width: 310px;

    .tabs {
      padding: 13px 15px;
    }
  }

  .card {
    width: 310px;
  }
}
@media screen and (max-width: 339px) {
  header {
    width: 296px;

    .tabs {
      padding: 13px 12px;
    }
  }

  .card {
    width: 296px;
  }
}
